<h4 class='help_title'>Search Music Knows</h4>

<form action='/search/results/' method='get'>
  <b>Enter a band name, venue or word to search with:</b>
  <br/>
  <br/>
  <input type='text' name='q' size='40' />
  <input type='submit' value='Search' />
</form>
