Hello <%= @register.forename %>,

Your account has been successfully created. To confirm your email address, click the link below or copy and paste it into your browser.

http://www.musicknows/register/activate/<%= @register.activation_code %>

Thanks,

Music Knows
