Hello <%= @user.forename %>,

We've created a new password for you, which you can see below. Login to the site and head over to your profile so that you can change this to something more memorable.

<%= @user.password %>

http://www.musicknows.com

Thanks,

Music Knows
